@mixin transition($second) {
    transition: all $second;
}

@mixin bgImage($height, $url) {
    height: $height;
    width: 100%;
    background: linear-gradient(
        to right, 
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
    ),
    url($url);
    background-size: cover;
    background-position: center center;
}